<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://cdn.crowdcube.com/images/carousel/alex-carousel.jpg?v=2" alt="...">
    </div>

    <div class="item">
      <img src="http://cdn.crowdcube.com/images/carousel/dom-carousel.jpg?v=2" alt="...">
    </div>

    <div class="item">
      <img src="http://cdn.crowdcube.com/images/carousel/dyson-carousel.jpg?v=2" alt="...">
    </div>

    <div class="item">
      <img src="https://s3.amazonaws.com/misc_soundtracktor/nn.png" alt="...">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<br><br>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="https://s3.amazonaws.com/misc_soundtracktor/Screen-Shot-2013-11-23-at-12.37.49-AM.png" alt="ABCiTY A/S" class="img-circle img-responsive" width="150">
      <h2>ABCiTY A/S</h2>
      <p>ABCiTY er blevet fundet gennem CrowdInvestor og ligger nu i kurs 457. Firmaet har eksisteret i 7 år, og er netop entreret det norske marked med deres nyeste produktlinie af læringsspil for børn.</p>
      <p><a class="btn btn-default" href="#" role="button">Gå til firmaoversigt &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img src="https://s3.amazonaws.com/misc_soundtracktor/ddl.jpg" alt="Econeers" class="img-circle img-responsive" width="150">
      <h2>Econeers</h2>
      <p>Aus Biomasse entsteht Strom, Wärme und Biokohle. Das Tiefschwarz-Konzept nutzt das energetische Potential abfallartiger Biomasse und erzeugt dabei keine neuen Abfälle.</p>
      <span class="text-muted"><%= link_to "www.econeers.de", "https://www.econeers.de/investmentchancen/Tiefschwarz/details", target: :blank %></span>

      <p><a class="btn btn-default" href="#" role="button">Gå til firmaoversigt &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img src="https://s3.amazonaws.com/misc_soundtracktor/426060_10151329486442880_397101735_a.png" alt="frokost.dk" class="img-circle img-responsive" width="150">
      <h2>Frokost DK</h2>
      <p>Frokost.dk tilbyder god mad fra mere end 40 frokostordninger. Prøv en af vores populære rundturspakker og oplev stor variation.</p>
      <p>Vi leverer mere end 1,7 mio. måltider hvert år, og vores kundetilfredshed er 8,6 på en 10-skala</p>
      <%= link_to "www.frokost.dk", "https://www.frokost.dk", target: :blank %></span>

      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
  	<div class="col-md-8">
      <span class="text-muted pull-right badge">
        1.000 Dkk = 0.024%
      </span>
  	  <h2 class="featurette-heading">Soundtracktor ApS</h2>
  	  <span class="text-muted">75% funded | 1.5 mio Dkk investeret | 2 mio Dkk målsætning | 21 investorer | 23 dage tilbage | Cap value 5.8 mio Dkk</span>
  	  <div class="progress">
  	    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
  	      <span class="sr-only">75% Complete</span>
  	    </div>
  	  </div>
  	  <p class="lead">
  	  	Online musiklicensering for professionelle produktionsselskaber
  	  </p>
      <%= link_to "Se mere #{ fa_icon "arrow-right" }".html_safe, company_path(id: 1), class: "btn btn-success btn-lg" %>
  	</div>

  	<div class="col-md-4">
  	  <img src="https://s3.amazonaws.com/misc_soundtracktor/Screen+Shot+2013-11-23+at+1.24.17+AM.png" alt="..." class="img-thumbnail img-responsive">
  	</div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8">
      <span class="text-muted pull-right badge">
        1.000 Dkk = 0.024%
      </span>
      <h2 class="featurette-heading">Soundtracktor ApS</h2>
      <span class="text-muted">75% funded | 1.5 mio Dkk investeret | 2 mio Dkk målsætning | 21 investorer | 23 dage tilbage | Cap value 5.8 mio Dkk</span>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
          <span class="sr-only">75% Complete</span>
        </div>
      </div>
      <p class="lead">
        Online musiklicensering for professionelle produktionsselskaber
      </p>
      <%= link_to "Se mere #{ fa_icon "arrow-right" }".html_safe, company_path(id: 1), class: "btn btn-success btn-lg" %>
    </div>

    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/misc_soundtracktor/Screen+Shot+2013-11-23+at+1.24.17+AM.png" alt="..." class="img-thumbnail img-responsive">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8">
      <span class="text-muted pull-right badge">
        1.000 Dkk = 0.024%
      </span>
      <h2 class="featurette-heading">Soundtracktor ApS</h2>
      <span class="text-muted">75% funded | 1.5 mio Dkk investeret | 2 mio Dkk målsætning | 21 investorer | 23 dage tilbage | Cap value 5.8 mio Dkk</span>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
          <span class="sr-only">75% Complete</span>
        </div>
      </div>
      <p class="lead">
        Online musiklicensering for professionelle produktionsselskaber
      </p>
      <%= link_to "Se mere #{ fa_icon "arrow-right" }".html_safe, company_path(id: 1), class: "btn btn-success btn-lg" %>
    </div>

    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/misc_soundtracktor/Screen+Shot+2013-11-23+at+1.24.17+AM.png" alt="..." class="img-thumbnail img-responsive">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->