<br>
<ul class="list-unstyled">
  <li>
    <%= link_to "#{ fa_icon "paperclip" } Budget 2013-2014".html_safe, "#" %>
  </li>
  <li>
    <%= link_to "#{ fa_icon "paperclip" } Årsrapport 2012".html_safe, "#" %>
  </li>
  <li>
    <%= link_to "#{ fa_icon "paperclip" } Bestyrelsesreferater".html_safe, "#" %>
  </li>
  <li>
    <%= link_to "#{ fa_icon "paperclip" } Prospekt".html_safe, "#" %>
  </li>
  <li>
    <%= link_to "#{ fa_icon "paperclip" } Executive summary".html_safe, "#" %>
  </li>
</ul>

<%= link_to "#{ fa_icon "cloud-download" } Download som zip".html_safe, "#", class: "btn btn-default", role: "button" %>
