<br>
<ul class="list-unstyled">
  <li>
    <%= fa_icon "file" %> <%= link_to "Budget 2013-2014", "#" %>
  </li>
  <li>
    <%= fa_icon "file" %> <%= link_to "Årsrapport 2012", "#" %>
  </li>
  <li>
    <%= fa_icon "file" %> <%= link_to "Bestyrelsesreferater", "#" %>
  </li>
  <li>
    <%= fa_icon "file" %> <%= link_to "Prospekt", "#" %>
  </li>
  <li>
    <%= fa_icon "file" %> <%= link_to "Executive summary", "#" %>
  </li>
</ul>
