<br>
<ul class="list-unstyled">
  <li>
    <%= link_to "#{ fa_icon "file" } Budget 2013-2014".html_safe, "#" %>
  </li>
  <li>
    <%= link_to "#{ fa_icon "file" } Årsrapport 2012".html_safe, "#" %>
  </li>
  <li>
    <%= link_to "#{ fa_icon "file" } Bestyrelsesreferater".html_safe, "#" %>
  </li>
  <li>
    <%= link_to "#{ fa_icon "file" } Prospekt".html_safe, "#" %>
  </li>
  <li>
    <%= link_to "#{ fa_icon "file" } Executive summary".html_safe, "#" %>
  </li>
</ul>
