<div class="row">
  <div class="col-md-12">
    <span class="pull-right"><small><%= l Time.now - 128.minutes, format: :short %></small></span>
    <header>
      <h4>Prototype færdig</h4>
    </header>
    <p class="text-muted">af Nicolai Seerup</p>
    <p>Kære alle investorer. Som I ved har vi arbejdet hårdt på at få vores prototype klar til Namm messen i Frankfurt. Og nu, 5 dage før afrejse er den klar!</p>
    <%= Lorem::Base.new('paragraphs', 1).output %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <span class="pull-right"><small><%= l Time.now - 1428.minutes, format: :short %></small></span>
    <header>
      <h4>Nyt bestyrelsesmedlem</h4>
    </header>
    <p class="text-muted">af Nicolai Seerup</p>
    <%= Lorem::Base.new('paragraphs', 2).output %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <span class="pull-right"><small><%= l Time.now - 3128.minutes, format: :short %></small></span>
    <header>
      <h4>Soundtracktor er på Crowdinvestor!</h4>
    </header>
    <p class="text-muted">af Nicolai Seerup</p>
    <%= Lorem::Base.new('paragraphs', 2).output %>
  </div>
</div>
