<header>
	<h4><%= company_name %></h4>
</header>
<ul class="executive-summary list-unstyled">
	<% for executive_summary_point in executive_summary_points %>
	<%= content_tag :li do %>
	<%= executive_summary_point %>
	<% end %>
	<% end %>

  <%= content_tag :li do %>
  Aktiv bestyrelse <span class="pull-right"><%= fa_icon "check-square-o" %></span>
  <% end %>

  <%= content_tag :li do %>
  Business Model Canvas <span class="pull-right"><%= fa_icon "square-o" %></span>
  <% end %>

  <%= content_tag :li do %>
  Prototype <span class="pull-right"><%= fa_icon "check-square-o" %></span>
  <% end %>

  <%= content_tag :li do %>
  +1 mio Dkk omsætning<span class="pull-right"><%= fa_icon "square-o" %></span>
  <% end %>

  <%= content_tag :li do %>
  +3 medarbejdere<span class="pull-right"><%= fa_icon "check-square-o" %></span>
  <% end %>
</ul>
