<hr>

<ul class="company-rating list-unstyled">
	<header>
		<span class="pull-right"><%= fa_icon "info-circle", class: "has-tooltip", title: "Denne rating udtrykker CrowdInvestors samt CrowdInvestors brugeres subjektive vurdering af investeringens potentiale" %></span>
		<h4>Rating</h4>
	</header>
	<li>
		<span class="pull-right">
			<%= fa_icon "star" %>
			<%= fa_icon "star" %>
			<%= fa_icon "star" %>
			<%= fa_icon "star" %>
		</span>
		Vækstpotentiale
	</li>
	<li>
		<span class="pull-right">
			<%= fa_icon "star" %>
			<%= fa_icon "star" %>
			<%= fa_icon "star-o" %>
			<%= fa_icon "star-o" %>
		</span>
		Team
	</li>
	<li>
		<span class="pull-right">
			<%= fa_icon "star" %>
			<%= fa_icon "star" %>
			<%= fa_icon "star" %>
			<%= fa_icon "star-half-o" %>
		</span>
		Brugervurdering
	</li>
	<hr>
	<li>
		<span class="pull-right">
			<%= fa_icon "star" %>
			<%= fa_icon "star" %>
			<%= fa_icon "star" %>
			<%= fa_icon "star-o" %>
		</span>
		<strong>Samlet rating</strong>
	</li>
</ul>
