<hr>
<ul class="company-rating list-unstyled">
	<li>
		<span class="pull-right"><%= fa_icon "info-circle", class: "has-tooltip", title: "Denne rating udtrykker CrowdInvestors vurdering af investeringens potentiale" %></span>
		<%= fa_icon "star" %>
		<%= fa_icon "star" %>
		<%= fa_icon "star" %>
		<%= fa_icon "star" %>
		<%= fa_icon "star-half-o" %>
		<%= fa_icon "star-o" %>
	</li>
</ul>
