<br>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_300_300/p/3/000/286/01a/29a9d06.jpg" alt="Nicolai Seerup">
      <div class="caption">
        <h4>Nicolai Seerup</h4>
        <p class="text-muted">Direktør</p>
        <p><%= mail_to "ns@soundtracktor.com", "#{ fa_icon "envelope" } ns@st.com".html_safe %></p>
        <p><%= link_to "#{ fa_icon("linkedin-square") } linkedin-profil".html_safe, "http://dk.linkedin.com/in/nicolaiseerup", target: :blank %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_300_300/p/7/000/1cd/2b6/231e9a4.jpg" alt="Kanya Rørbech">
      <div class="caption">
        <h4>Kanya Rørbech</h4>
        <p class="text-muted">Jurist</p>
        <p><%= mail_to "kr@soundtracktor.com", "#{ fa_icon "envelope" } kr@st.com".html_safe %></p>
        <p><%= link_to "#{ fa_icon("linkedin-square") } linkedin-profil".html_safe, "https://dk.linkedin.com/in/kanyanatasja", target: :blank %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/0b6/33b/12e3b56.jpg" alt="Lars Wiberg Ettrup">
      <div class="caption">
        <h4>Lars Wiberg Ettrup</h4>
        <p class="text-muted">Programmør</p>
        <p><%= mail_to "mj@soundtracktor.com", "#{ fa_icon "envelope" } mj@st.com".html_safe %></p>
        <p><%= link_to "#{ fa_icon("linkedin-square") } linkedin-profil".html_safe, "http://dk.linkedin.com/in/larsettrup", target: :blank %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/5/000/1bf/0ec/3de39bf.jpg" alt="Jacob Højrup">
      <div class="caption">
        <h4>Jacob Højrup</h4>
        <p class="text-muted">Bestyrelsesformand</p>
        <p><%= mail_to "jh@soundtracktor.com", "#{ fa_icon "envelope" } jh@st.com".html_safe %></p>
        <p><%= link_to "#{ fa_icon("linkedin-square") } linkedin-profil".html_safe, "http://dk.linkedin.com/pub/jacob-højrup-hansen/1/94/899", target: :blank %></p>
      </div>
    </div>
  </div>
</div>
